body {

	background: url(../img/bg.png);
}

header {
font-size: 40px;
background: #007599;
color: #fff;
padding: 35px;
margin-bottom: 10px;
margin-top: 0px;
font-family: 'Oswald', sans-serif;
text-align: center;
}

h2	{

	color:  #007599;
	font-family: 'Oswald', sans-serif;
	font-size: 2em;
	margin-top: 0px;
	float: left;

}

li {

	float:right;
	list-style: none;
	margin-right: 15px;  
	
}

li a {
	text-decoration: none;
	font-family: 'Oswald', sans-serif;
	font-size: 1.5em;
	color: #007599;
}

p {
font-family: 'Droid Serif', serif;

text-align: center;
width: 500px;
position: relative;
left: 455px;
top: 18px;

}

.logo {

	height: 60px;
	width: 68px;
	float: left;
}

img.process {

	display: inline;
	float: left;
	height: 340px;
	width: 250px;
	margin-top: 58px;
	position: relative;
	left: 150px;
	top: 10px;
}


img.me {
	margin: 6px 20px;
	display: inline;
	float: left;
	height: 340px;
	width: 250px;
	margin-top: 58px;
	position: relative;
	left: 150px;
	top: 10px;
}